<section id="blog" >
    <div class="container" style="background-color:white; color:black;">

        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-family: 'IBM Plex Sans', sans-serif; text-decoration: underline; font-weight: bold; color:#1E4A72;">Blogs About My Interests</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-base">Collection of blogs about my interests</p>
        </div>

        <section class="text-gray-700 body-font">
            <div class="container px-5 py-5 mx-auto">
              <div class="flex flex-wrap -m-4">
                
                <div class="p-4 lg:w-1/3">
                  <div class="h-full bg-gray-200 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                    {{/*  <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>  */}}
                    <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3" style="font-family: 'IBM Plex Sans', sans-serif; text-decoration: underline; color:#1E4A72;">Solutions and Architecture</h1>
                    <p class="leading-relaxed mb-3" style="font-family: 'IBM Plex Sans', sans-serif; font-size: 18px; color:#1E4A72;">Here I showcase my expertise in architecting robust solutions for complex challenges in Enterprise Integration, API Management, Messaging, Data Engineering, Cloud, and DevOps. You'll find detailed insights into the architectural problems I’ve solved, strategies employed, and the transformative impact these solutions have had on my customers' businesses.</p>
                    <a href='{{ "/Solution-Architecture" }}' class="text-indigo-500 inline-flex items-center">Read More
                    </a>
                    
                  </div>
                </div>
                <div class="p-4 lg:w-1/3">
                  <div class="h-full bg-gray-200 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                    {{/*  <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>  */}}
                    <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3" style="font-family: 'IBM Plex Sans', sans-serif; text-decoration: underline; color:#1E4A72;">TExperiments</h1>
                    <p class="leading-relaxed mb-3" style="font-family: 'IBM Plex Sans', sans-serif; font-size: 18px; color:#1E4A72;">This section delves into my hands-on experiments, POCs, projects, and demos across various domains like computer science, mathematics, machine learning, data science, and data engineering. Explore my journey through environment setups, innovative solutions, and practical implementations that push the boundaries of technology and drive impactful learning and discovery.</p>
                    <a href='{{ "/TEXperiments" }}' class="text-indigo-500 inline-flex items-center">Read More
                    </a>
                  </div>
                </div>
                <div class="p-4 lg:w-1/3">
                    <div class="h-full bg-gray-200 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                      {{/*  <h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h2>  */}}
                      <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3" style="font-family: 'IBM Plex Sans', sans-serif; text-decoration: underline; color:#1E4A72;">TechMahaBharat</h1>
                      <p class="leading-relaxed mb-3" style="font-family: 'IBM Plex Sans', sans-serif; font-size: 18px; text-decoration: underline; color:#1E4A72;">Unraveling the Digital Tapestry: A Journey Through Mahabharata and Modern Tech</p>
                      <p class="leading-relaxed mb-3" style="font-family: 'IBM Plex Sans', sans-serif; font-size: 18px; color:#1E4A72;">Ever wondered how the ancient tales of the Mahabharata could mirror the complexities of modern technology? Join me as I explore the parallels between the epic's characters, events, and the intricate world of enterprise architecture, machine learning, and computer science. From Krishna's divine wisdom to the Kurukshetra battle, let's discover the hidden connections and gain fresh insights into the digital age.</p>
                      <a href='{{ "/MahaTechBharat" }}' class="text-indigo-500 inline-flex items-center">Read More
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </section>
    </div>
</section>