<section id="experience" class="text-gray-700 body-font" style="background-color: rgb(246, 249, 250);">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <header>
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-family: 'IBM Plex Sans', sans-serif; text-decoration: underline; font-weight: bold; color:#1c364d;">Professional Experience</h1>
    </header>

    <div align="left">
        <div class="container px-5 py-5 mx-auto flex flex-wrap">

            {{ partial "experience/_bct.html" .}}

            {{ partial "experience/_tibco.html" .}}

            {{ partial "experience/_amdocs.html" .}}

            {{ partial "experience/_calsoft.html" .}}

        </div>
    </div>

</section>