<!-- Intro -->
<section id="top" class="one dark cover">
  <div class="container">
     <header>
        <h2 class="alt" style="font-family: 'IBM Plex Sans', sans-serif; color:white;">Namaste 🙏 ! <br />I'm <strong style="font-family: 'IBM Plex Sans', sans-serif; color:white;">Akash Mahapatra</strong>
        <br /></h2>
        <p style="font-family: 'IBM Plex Sans', sans-serif; color: white;"><br />A Singing, <a href="https://www.instagram.com/thecerulean_admirer/?hl=en">Travelling</a>, <a href="https://github.com/Ganitagya">Problem Solver</a> ... building solutions around <br /><strong style="color: rgb(242, 249, 246);">Enterprise Integration | Data Engineering | Data Management</strong> <br /><br />
           A passionate innovator, developer, ideating impactful solutions for customers,<br />
           considering latest technology trends, and driving them to completion.<br />Fascinated by the fact that machines can be taught to take decisions on their own.
        <br /></p>
     </header>
     <footer>
        <a href="#about" class="button scrolly">More</a>
     </footer>
  </div>
</section>
