<!DOCTYPE HTML>

<html>

<head>

	<title>Akash Mahapatra</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="/images/batman1.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css" />

</head>

<body class="is-preload" style="color: black">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<div id="logo" class="logo">
					<span><img src="/images/avatar_akash.jpg" /></span>
				</div>
				<h1 id="title" style="font-family: 'IBM Plex Sans', sans-serif; font-size: 21px; color:white; text-align:left">Akash
					Mahapatra</h1>
				<p style="font-family: 'IBM Plex Sans', sans-serif; font-size: 15px; color:white; text-align:left">Solutions
					Consultant<br><a href='{{ "/Solution-Architecture" }}'>Cloud-Native Architecture</a></p>

			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link"><span class="icon fa-home">Introduction</span></a></li>
					<li><a href="#experience" id="experience-link"><span class="icon fa-map">Experience</span></a></li>
					<li><a href="#open-source" id="project-link"><span class="icon fa-cogs">Open Source</span></a></li>
					<li><a href="#blog" id="blog-link"><span class="icon fa-newspaper-o">Blog Posts</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://twitter.com/AkashMhptr?s=08" class="icon fa-twitter" style="color: #1DA1F2;"><span
							class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/akash.mahapatra.18" class="icon fa-facebook"
						style="color: #1877F2;"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/Ganitagya" class="icon fa-github" style="color: white"><span
							class="label">Github</span></a></li>
				<li><a href="https://www.linkedin.com/in/akash-mahapatra-44001ba0" class="icon fa-linkedin"
						style="color: #0077B5;"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.instagram.com/thecerulean_admirer/?hl=en" class="icon fa-instagram"
						style="color: #E1306C;"><span class="label">Instagram</span></a></li>
				<li><a href="#contact" class="icon fa-envelope" style="color: #0072C6;"><span
							class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<div id="main">

		{{ partial "_top.html" .}}

		{{ partial "_aboutme.html" .}}

		{{ partial "_experience.html" .}}

		{{ partial "_open-source.html" .}}

		{{ partial "_blogs.html" .}}

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; All rights reserved</li>
			<li>Design: <a href="https://github.com/Ganitagya">Akash Mahapatra</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>