<div class="container px-5 py-5 mx-auto flex flex-wrap" style="font-family: 'IBM Plex Sans'; color: #1E4A72">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-0 title-font font-medium text-sm">
            1
        </div>

        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">

            
            <img src="/images/BCT-Logo-1.png" alt="BCT Logo"
                style="width: 150px; height: 70px; object-fit: cover;">

            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                    BahwanCyberTek LLC. 
                </h2>
                <h2 class="font-medium  text-gray-800  text-xl">Solutions Engineer</h2>
                <hr style="color: black;">
                <h2 class="font-medium  text-gray-800  text-xl">August 2021 – Present</h2>
                
                <ul style="font-family: 'IBM Plex Sans', sans-serif; color:#1c364d;">
                    <li>
                        <font style="font-size: 20px; text-decoration: underline">Led End-to-End Technical Solutions & Delivery:</font>
                        <ul style="font-size: 18px;">
                            <li>Spearheaded technical sales cycle for TIBCO Platform, resulting in a 20% reduction in operational costs through meticulous resource utilization and an effective licensing model.</li>
                            <li>Led collaborative engagements with executives and stakeholders to identify business opportunities, and translate them into secure, scalable, and value-based TIBCO solutions.</li>
                            <li>Enhanced project lifecycles through expert management and team mentorship, achieving a 25% reduction in delivery time ensuring successful project delivery.</li>
                            <li>Led enterprise integration projects for application/data integration, API Management and data engineering.</li>
                        </ul>
                    </li>
                    <li>
                        <font style="font-size: 20px; text-decoration: underline">Cloud & Open Source Integration Specialist:</font>
                        <ul style="font-size: 18px;">
                            <li>Architected and delivered cloud-native TIBCO solutions reducing data integration latency by 10% and application performance by 40% compared to previous metrics.</li>
                            <li>Engineered custom solutions leveraging open-source to drive client value beyond proprietary software limitations eliminating 100% operational cost.</li>
                            <li>Possess strong knowledge of middleware, integration architecture patterns, and enterprise messaging protocols to address complex data management challenges in banking environments.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>