    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-0 title-font font-medium text-sm">
            2
        </div>

        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">

            
            <img src="/images/tibco.jpg" alt="TIBCO Logo"
                style="width: 150px; height: 70px; object-fit: cover;">

            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">
                    TIBCO SOFTWARE INDIA PVT. LMT. 
                </h2>
                <h2 class="font-medium  text-gray-800  text-xl">Solutions Engineer - Global Presales</h2>
                <hr style="color: black;">
                <h2 class="font-medium  text-gray-800  text-xl">May 2017 – August 2021</h2>
                
                <ul style="font-size: 18px; font-family: 'IBM Plex Sans', sans-serif; color:#1c364d;">
                    <li>
                        Authored compelling technical responses to RFIs and RFPs, ensuring alignment with customer requirements.
                    </li>
                    <li>
                        Championed product innovation by collaborating with internal teams to translate complex technical needs into actionable product enhancements, bug fixes, and new features.
                    </li>
                    <li>
                        Influenced TIBCO's product roadmap by contributing valuable market feedback, technical expertise, and insights gained from customer interactions.
                    </li>
                    <li>
                        Led projects utilizing cloud-native architecture, DevOps, and GitOps methodologies for scalable integration solutions.
                    </li>
                    <li>
                        Shaped the design and execution of workshops, meetups, webinars, hands-on labs, and hackathons to foster TIBCO product familiarity, grow brand value, and cultivate a thriving TIBCO developer community
                    </li>
                    <li>
                        Partnered with sales and SI partners to enable successful customer engagements and solution implementation. 
                    </li>
                    <li>
                        Conducted numerous partner enablement sessions on TIBCO's latest features, functionalities, and training programs.
                    </li>
                    <li>
                        <font size="4"><a href="https://github.com/Ganitagya/flogo-contrib">Flogo - Ultralight
                                Edge Microservices Framework </a><br />Please check <a
                                href="www.flogo.io">Project Flogo</a></font>
                        <br />
                    </li>
                </ul>
            </div>
        </div>
    </div>